In [135]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

In [136]:
from api_keys import g_key

In [137]:
output_data_file = "Weather_Cities.csv"
cities_wth_2 = pd.read_csv(output_data_file)
cities_wth_2

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Nazarovo,99,RU,1569438229,68,56.01,90.42,39.11,5.14
1,Iqaluit,75,CA,1569437984,80,63.75,-68.52,41.00,16.11
2,Atuona,88,PF,1569438080,78,-9.80,-139.03,79.79,21.52
3,Lincoln,1,US,1569438002,46,40.80,-96.67,77.00,10.29
4,Upernavik,55,GL,1569438138,83,72.79,-56.15,34.79,6.82
...,...,...,...,...,...,...,...,...,...
533,Sayyan,83,YE,1569438556,61,15.17,44.32,73.31,2.98
534,Husavik,93,CA,1569438169,69,50.56,-96.99,57.00,10.00
535,Lethem,4,GY,1569438106,41,3.38,-59.80,94.37,5.88
536,Aykhal,90,RU,1569438557,69,65.95,111.51,35.60,4.47
537,Stroud,75,GB,1569438557,87,51.75,-2.22,62.60,9.17

In [138]:
gmaps.configure(api_key=g_key)

In [139]:
locations = cities_wth_2[["Lat", "Lng"]]
humidity = cities_wth_2["Humidity"].astype(float)

In [140]:
# Plot Heatmap
#figure_layout = {
 
    #'width': '200px',
    #'height': '150px',
   # 'border': '1px solid black',
   # 'padding': '1px',
   # 'margin': '0 auto 0 auto'
#}

#fig = gmaps.figure(layout=figure_layout)
fig = gmaps.figure(center=(20,0), zoom_level=2)
#fig = gmaps.figure()
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=600)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [141]:
ideal_wth = cities_wth_2.loc[(cities_wth_2["Max Temp"] < 80) & (cities_wth_2["Max Temp"] > 70) &
                             (cities_wth_2["Wind Speed"] < 10) & (cities_wth_2["Cloudiness"] == 0)]
ideal_wth = pd.DataFrame(ideal_wth)
ideal_wth.dropna()
ideal_wth

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
32,Busayra,0,JO,1569438246,43,30.74,35.61,74.75,1.30
37,Shache,0,CN,1569438248,15,38.42,77.24,72.05,5.01
47,Tsumeb,0,NaN,1569438257,13,-19.25,17.72,73.40,5.82
106,Jieshi,0,CN,1569438285,75,22.82,115.83,79.00,1.01
164,Barrow,0,AR,1569437982,37,-38.31,-60.23,75.11,6.06
258,Aljezur,0,PT,1569438385,85,37.31,-8.80,75.00,1.99
324,Encruzilhada do Sul,0,BR,1569438432,35,-30.54,-52.52,76.55,3.13
394,Faya,0,SA,1569438014,16,18.39,42.45,77.00,8.05
397,Abu Kamal,0,SY,1569438172,19,34.45,40.92,78.71,8.52
415,Pachino,0,IT,1569438488,83,36.72,15.09,71.60,4.70
454,Kisanga,0,CD,1569438510,31,-11.72,27.40,72.05,9.10
516,Paso de los Toros,0,UY,1569438547,36,-32.81,-56.52,78.80,3.36

In [142]:
ideal_wth.count()

City          12
Cloudiness    12
Country       11
Date          12
Humidity      12
Lat           12
Lng           12
Max Temp      12
Wind Speed    12
dtype: int64

In [143]:
ideal_wth['Hotel Name'] = ""
ideal_wth

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
32,Busayra,0,JO,1569438246,43,30.74,35.61,74.75,1.30,
37,Shache,0,CN,1569438248,15,38.42,77.24,72.05,5.01,
47,Tsumeb,0,NaN,1569438257,13,-19.25,17.72,73.40,5.82,
106,Jieshi,0,CN,1569438285,75,22.82,115.83,79.00,1.01,
164,Barrow,0,AR,1569437982,37,-38.31,-60.23,75.11,6.06,
258,Aljezur,0,PT,1569438385,85,37.31,-8.80,75.00,1.99,
324,Encruzilhada do Sul,0,BR,1569438432,35,-30.54,-52.52,76.55,3.13,
394,Faya,0,SA,1569438014,16,18.39,42.45,77.00,8.05,
397,Abu Kamal,0,SY,1569438172,19,34.45,40.92,78.71,8.52,
415,Pachino,0,IT,1569438488,83,36.72,15.09,71.60,4.70,
454,Kisanga,0,CD,1569438510,31,-11.72,27.40,72.05,9.10,
516,Paso de los Toros,0,UY,1569438547,36,-32.81,-56.52,78.80,3.36,

In [144]:
params = {
    "radius": 50000,
    "types": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
for index, row in ideal_wth.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_hotel = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_hotel = name_hotel.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        ideal_wth.loc[index, "Hotel Name"] = name_hotel["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [145]:
hotel_df = pd.DataFrame(ideal_wth)
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
32,Busayra,0,JO,1569438246,43,30.74,35.61,74.75,1.30,Kerak
37,Shache,0,CN,1569438248,15,38.42,77.24,72.05,5.01,Kashgar
47,Tsumeb,0,NaN,1569438257,13,-19.25,17.72,73.40,5.82,Tsumeb
106,Jieshi,0,CN,1569438285,75,22.82,115.83,79.00,1.01,Jieyang
164,Barrow,0,AR,1569437982,37,-38.31,-60.23,75.11,6.06,Tres Arroyos
258,Aljezur,0,PT,1569438385,85,37.31,-8.80,75.00,1.99,Portimão
324,Encruzilhada do Sul,0,BR,1569438432,35,-30.54,-52.52,76.55,3.13,Rio Pardo
394,Faya,0,SA,1569438014,16,18.39,42.45,77.00,8.05,Abha
397,Abu Kamal,0,SY,1569438172,19,34.45,40.92,78.71,8.52,Qa'im
415,Pachino,0,IT,1569438488,83,36.72,15.09,71.60,4.70,Syracuse
454,Kisanga,0,CD,1569438510,31,-11.72,27.40,72.05,9.10,Lubumbashi
516,Paso de los Toros,0,UY,1569438547,36,-32.81,-56.52,78.80,3.36,Paso de los Toros

In [146]:
gmaps.configure(api_key=g_key)

locations = hotel_df[["Lat", "Lng"]]
humidity = hotel_df["Humidity"].astype(float)

fig = gmaps.figure(center=(20,0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=50)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [162]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row)for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=5,
    info_box_content=hotel_info)


fig = gmaps.figure()
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [153]:
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))